# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.*

# =========================
# Virtual Environment
# =========================
.venv/
venv/
env/
ENV/

# =========================
# Environment Variables
# =========================
.env

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# Logs
# =========================
*.log

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# Model Files (Optional)
# Uncomment if you DON'T want to upload models
# =========================
# model/
# *.pkl
# *.joblib

# =========================
# Data Files (Optional)
# =========================
# data/
# *.csv

# =========================
# FAISS / Vector DB (RAG Project)
# =========================
vector_store/
*.faiss
*.pkl

# =========================
# Streamlit
# =========================
.streamlit/
